.navbar{
    color: #C52323;
    font-family: Assistant;
    font-size: 20px;
}

.banner{
    background: url(img/gamabr\ banner.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    
}

 .banner .display-6{
    font-family: viga;
    margin-top: 120px;
    font-weight: 500px;
    font-size: 40px;
}

.banner .display-1{
    font-family: serif;
    font-weight: 200px;
    font-size: 20px;
    margin-bottom: 20px;
}

/* destop */
@media (min-width: 992px) { 
    .banner .display-6{
        font-family: viga;
        font-weight: 700px;
        font-size: 100px;
    }
    
    .banner .display-1{
        font-family: serif;
        font-weight: 10px;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
 }




.lingkaran{
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: white;
    background-color: #C52323;
}

.lingkaran  i{
    position: relative;
    top: 30px;
    
}

.crop-img{
    object-fit: cover;
}


.tim img{
 
    border: 10px solid #C52323 ;
}

a.sosial{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #C52323;
    line-height: 40px;
    
}

.kontak{
    background: url(img/footer.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #fff;
}

.footer{
    color: white;
}

.btn{
    background-color: #C52323;
    border-radius: 10px;
}

h2{
    font-family: viga;
}

.clearfix p {
    margin-left: 5rem;
   text-align: justify;
}


.staf {
    background-color: #e6e6e6;
}